<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:security="http://www.springframework.org/schema/security"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/security
       http://www.springframework.org/schema/security/spring-security.xsd">

    <security:http auto-config="true" use-expressions="true" access-denied-page="/auth/denied">

        <security:intercept-url pattern="/ticket/confirm" access="hasRole('ROLE_MANAGER')" />
        <security:intercept-url pattern="/ticket/show" access="hasRole('ROLE_MANAGER')" />
        <security:intercept-url pattern="/ticket/show/{id}" access="hasRole('ROLE_MANAGER')" />
        <security:intercept-url pattern="/station-info/add" access="hasRole('ROLE_MANAGER')" />
        <security:intercept-url pattern="/route/add" access="hasRole('ROLE_MANAGER')" />
        <security:intercept-url pattern="/shedule/add" access="hasRole('ROLE_MANAGER')" />
        <security:intercept-url pattern="/train/add" access="hasRole('ROLE_MANAGER')" />
        <security:intercept-url pattern="/train/list-of-unused" access="hasRole('ROLE_MANAGER')" />
        <security:intercept-url pattern="/station-info/list" access="hasRole('ROLE_MANAGER')" />
        <security:intercept-url pattern="/route/list-of-unused" access="hasRole('ROLE_MANAGER')" />
        <security:intercept-url pattern="/show/trains-by-routes" access="hasRole('ROLE_MANAGER')" />
        <security:intercept-url pattern="/get/trains-by-routes" access="hasRole('ROLE_MANAGER')" />
        <security:intercept-url pattern="/get/trains-by-routes/{routeId}" access="hasRole('ROLE_MANAGER')" />
        <security:intercept-url pattern="/get/route-stations/{routeId}" access="hasRole('ROLE_MANAGER')" />

        <security:intercept-url pattern="/user/list" access="hasRole('ROLE_ADMIN')" />
        <security:intercept-url pattern="/user/remove/{userId}" access="hasRole('ROLE_ADMIN')" />

        <security:form-login login-page="/auth/login" authentication-failure-url="/auth/login?error=true" />
        <security:logout logout-url="/auth/logout" invalidate-session="true" logout-success-url="/" />
    </security:http>

    <security:authentication-manager>
        <security:authentication-provider user-service-ref="loginService">
            <security:password-encoder ref="passwordEncoder" />
        </security:authentication-provider>
    </security:authentication-manager>

    <bean id="passwordEncoder" class="org.springframework.security.authentication.encoding.Md5PasswordEncoder" />

</beans>